/* #region Commons*/

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'gg sans', sans-serif;
    font-family: 'gg sans Normal', sans-serif;
    font-family: 'gg sans Medium', sans-serif;
    font-family: 'gg sans SemiBold', sans-serif;

}

/* #endregion*/

/* #region Utilities */

.container{
    width: 80%;
    margin: auto;
    max-width: 1170px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row{
    display: flex;
}

.col{
    width: 30%;
    padding-top: 2rem;
}

ul, a{
    list-style: none;
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
}

.heightimg{
    height: 400px;
}


.py-bottom{
    padding-bottom: 1rem;
}

.py-bottom4{
    padding-bottom: 4rem;
}

.maintitle{
    font-size: 40px;    
    font-weight: bold;
}

.title{
    font-size: 40px;
}

.fs-30{
    font-size: 30px;
}

.bg-black{
    background-color: black;
    color: white;
}

.m-top9{
    margin-top: 9rem;
}

.m-top14{
    margin-top: 14rem;
}

.m-top6{
    margin-top: 6rem;
}

.m-bottom9{
    margin-bottom: 9rem;
}

/* #endregion*/

/* #region Debug */

.bottom_container{
    height: 150px;
    background-color: deeppink;
}

.col_footer{
    border: 2px solid black;
    height: 360px;
    background-color: red;
}

.col_4{
    border: 2px solid black;
    height: 360px;
    background-color: red;
}

.bottom_col{
    border: 2px solid black;
    background-color: white;
    height: 50px;
}
/* #endregion */

/* #region Header */

header{
    background-color: #3161e0;
}

.col_header{
    width: 50%;
}

.login{
    text-align: end;
    padding-top: 2.5rem;
}

#login{
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 0.3rem;
    font-size: 13px;
    
}

.bottom_header{
    background-image: url(/assets/img/jumbo.png);
    background-size: cover;
}


.col_center{
    width: 70%;
    margin: 3rem;
    color: white;
    text-align: center;
    padding: 2rem;
}

header .row{
    justify-content: center;
}

span .white{
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 0.7rem;
}

span .black{
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 0.7rem;
}

.col_center span{
    margin: 10px;
}
/* #endregion */

/* #region Main*/
main{
    background-color: white;
}

main .row{
    justify-content: space-between;
    padding: 1rem;
}

.col_3 {
    width: 70%;
}

.reverse{
    flex-direction: row-reverse;
}

.big_container{
    width: 80%;
    margin: auto;
}

.text{
    text-align: center;
}

.center_img{
    display: flex;
    justify-content: center;
    width: 100%;
}

span .blue{
    border-radius: 30px;
    background-color: #8ea1e1;
    color: #d9dff5;
    padding: 0.7rem;
}
/*#endregion*/


/* #region Foot*/
.col_footer{
    width: 13%;
    margin: auto;
    margin-top: 1.2rem;
}

.col_4{
    width: 30%;
    margin:auto;
    margin-top: 1.2rem;
}

footer .row{
    align-items: center;
    justify-content: space-around;
}

footer .container{
    margin-bottom: 4rem;
}

.bottom_container{
    width: 80%;
    margin: auto;
    max-width: 1170px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bottom_row{
    display: flex;
    justify-content: space-between;
}

.bottom_col{
    width: 25%;
    margin-top: 3rem;
}

/* #endregion*/